# Folder
.vs/
Chars.tlog/
Debug/
KeyView.tlog/
KeyView/Release/

# Prerequisites
*.d
*.user
*.log
*.iobj
*.ipdb
*.log
*.pdb
*.res
*.pdb
*.scc
*.tlog
*.lastbuildstate

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app
